:root{
    --section-spacing: 25rem;
}
html{
    scroll-behavior: smooth;
    height: var(--vh, 1vh);
    overscroll-behavior: none;

}
html, body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}
.AboutMe, .Experience, .Projects, .Contact{
    border-radius: 5px;    
    font-family: 'DotGothic16', sans-serif;
    font-size: 40px;
    color: #ffde21;
    text-align: center;
}
html::-webkit-scrollbar {
  display: none;
}

 html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.AboutMeBody, .ExperienceBody{
    margin: 0 20px 20px 20px;
    padding: 20px;
    color: #ffde21;
    font-size: 30px;
    text-align: justify;
    text-justify: inter-word;
}
canvas{
    position:fixed;
    top:0;
    left:0;
}
section{
    grid-column: 1/span 8;
    font-size:25px;
    background-color: transparent;
    margin-bottom: var(--section-spacing);
    scroll-margin-top: 35vh;
}
ul{
    list-style: none;
}

main{
    position: absolute;
    z-index: 99;
    width: 100%;
    color: #ffde21;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.title{
    grid-column: 1 / span 8;
    text-align: center;
    font-size: 3em;
    font-family: 'Press Start 2P', cursive;
    color: #ffde21;
    margin-top: 0.5em;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AboutMe{
    grid-column: 1 / span 5;
    font-size: 40px;    
    margin-top: 60vh;
    height: 400px;
    text-align: center;
    color: #ffde21;



}
.Contact{
    text-align: center;
    margin-bottom: 0%;
    font-family: 'Press Start 2P', cursive ;
    color: #e8f7ee
}

.Experience{
    grid-column: 5 / span 4;
    margin-top: 0.5em;
    color: #ffde21;
}
nav ul{
    grid-column: 2 / span 6;
    display: flex;
    font-family: 'Press Start 2P', cursive;
    color:lavenderblush;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    
    
}
a{
    color:#ffde21;
    text-decoration: none;
}
a:hover{
    color: #ffde21;
    text-shadow: 0 0 10px #ffde21, 0 0 20px #ffde21, 0 0 30px #ffde21;
    transition: all 0.3s ease-in-out;
}
a:active{
    color: #ffde21;
    text-shadow: none;
    transition: all 0.1s ease-in-out;
}
a:visited{
    color: #ffde21;
}

ul.ContactList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}