:root{
    --section-spacing: 25rem;
}
canvas{
    position:fixed;
    top:0;
    left:0;
}
section{
    grid-column: 1/span 8;
    font-size:25px;
    background-color: #1a1b26;
    margin-bottom: var(--section-spacing);
}
ul{
    list-style: none;
}

main{
    position: absolute;
    z-index: 99;
    width: 100%;
    color:wheat;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.title{
    grid-column: 1 / span 8;
    text-align: center;
    font-size: 3em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:wheat;
    margin-top: 0.5em;
}
.intro{
    grid-column: 1 / span 8;
    text-align: center;
    font-size: 1.5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:wheat;
    margin-top: 0.5em;
    background-color: none;
}
.AboutMe{
    grid-column: 1 / span 5;
    font-size: 1.2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:wheat;
    margin-top: 0.5em;
    height: 400px;
    text-wrap: wrap;
    text-align: center;


}
.Contact{
    text-align: center;
    margin-bottom: 0%;
}

.Experience{
    grid-column: 5 / span 4;
    font-size: 1.2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:wheat;
    margin-top: 0.5em;
}
nav ul{
    grid-column: 2 / span 6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    
    
}